body{
    background-color: aquamarine;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    font-size: xx-large;
    text-decoration: solid;


}

form{
    justify-content: center;
    text-align: center;
    background-color: aqua;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form [input]{
    background-color: antiquewhite;
}